/* Global background for the whole site */
body {
  background-image: url("/blog/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Left-align post titles within their centered containers */
.postTitle {
  text-align: left !important;
}
